body {
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#map {
    width: 70%;
    height: 100%;
}

#log {
    background: #999999;
    color: white;
    overflow-y: scroll;
    width: 40%;
    height: 100%;
    font-family: sans-serif;
    padding: 0;
}

#log .record {
    background: black;
    overflow: hidden;
}

#log table {
    width: 100%;
    border-spacing: 0;
}

#log table td {
    word-wrap: break-word;
    padding-left: 2px;
}

#log table tr:first-child td:first-child {
    background: green;
    font-weight: bold;

}

.template {
    display: none;
}