<launch>
    <!-- arguments -->
    <arg name="ipfs_http_provider"/>
    <arg name="token_address"/>
    <arg name="lighthouse_fee"/>


    <node pkg="airspace_service_provider" type="airspace_service_provider_node" name="airspace_service_provider"
          output="screen">
        <param name="ipfs_http_provider" value="$(arg ipfs_http_provider)"/>
        <param name="lighthouse_fee" value="$(arg lighthouse_fee)"/>
        <param name="token_address" value="$(arg token_address)"/>
    </node>

</launch>
